@import url(reset.css);
body { background: white; color: #222222; }

#main img { display: block; width: 363px; height: 400px; margin: -182px 0 0 -200px; position: absolute; top: 50%; left: 50%; }
#author_link { visibility: hidden; }
